@use "global" as *;

.top-footer {
  margin-top: rem(104);

  @include mq(md) {
    margin-top: rem(160);
  }
}

.top-footer--thanks {
  margin-top: rem(144);
  
  @include mq(md) {
    margin-top: rem(120);
  }
}

.top-footer--404 {
  margin-top: 0;
  

  @include mq(md) {
    // padding-top: rem(148);
    margin-top: 0;
  }
}

.top-footer--contact {

  @include mq(md) {
    margin-top: rem(136);
  }
}