@use "global" as *;

.blog-sub {
  // position: relative;
}

// .blog-sub::before {
//   content: '';
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: rem(61);
//   background-image: url("../images/common/blog_back-wave.png");
//   background-size: cover;
// }

.blog-sub__inner.inner {
  max-width: rem(500);
  padding-right: rem(21);
  padding-left: rem(21);

  @include mq(md) {
    max-width: rem(1130);
    padding-left: rem(25);
    padding-right: rem(25);
  }
}


.blog-sub__container {
  
  @include mq(md) {
    display: flex;
    gap: rem(80);
  }
}


.blog-sub__cards {

  @include mq(md) {
    // gap: rem(40);
    // display: block;
    width: 65.37037%;
  }
}


.blog-sub__side-bar {
  margin-top: rem(80);

  @include mq(md) {
    width: 27.222222%;
    margin-top: 0;
  }
}