@use "global" as *;

.button {
  position: relative;
  font-family: $english-font-family;
  font-size: rem(14);
  line-height: 1.58;
  color: $white;
  background-color: #408F95;
  display: inline-block;
  width: rem(202);
  padding-top: rem(16);
  padding-bottom: rem(16);
  text-align: center;
  z-index: 0;
  transition: .3s;
}



.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0%;
  height: 100%;
  background-color: $white;
  border: solid 1px #408F95;
  transition: .3s;
  // display: block;
  // opacity: 1;
}

.button::after {
  content: '';
  position: absolute;
  top: rem(4);
  left: rem(4);
  // left: rem(2);
  border: solid 1px #408F95;
  width: 100%;
  height: 100%;
  z-index: -10;
}


.button:hover {
  color: #408F95;
  z-index: 100;
  transition: .3s;
  // opacity: 1;
}

.button:hover::before {
  width: 100%;

}



.button:hover .button__arrow {
  border-bottom: 1px solid #408F95;
  border-right: 1px solid #408F95;
}

.button:hover .wpcf7-submit {
  color: #408F95;
}

.button__arrow {
  width: rem(40);
  height: rem(6);
  border-bottom: 1px solid $white;
  border-right: 1px solid $white;
  transform: skew(45deg);
  display: inline-block;
  margin-left: rem(8);
  margin-bottom: rem(2);
  transition: .3s;
}

.button--top {
  margin-top: rem(40);
}

.button__contact {
  display: inline-block;
  font-family: $english-font-family;
  font-size: rem(14);
  color: $white;
  line-height: 1.58;
  text-align: left;
  transition: .3s;
  width: 100%;
  padding: rem(16) 0;
  padding-left: rem(56);
  z-index: 0;
}

.button:hover .button__contact {
  color: #408F95;
}

.button--contact {
  padding: 0;
}

.button__arrow--contact {
  position: absolute;
  top: 37%;
  left: rem(106);
}

.button__arrow--contact-form {
  position: absolute;
  top: rem(22);
  left: rem(106);
}


.button--contact-form {
  padding: 0;
}

// .button--contact-form {
//   width: 100%;
//   padding-top: rem(16);
//   padding-bottom: rem(16);
//   color: $white;
// }

.button--error {
  color: #408F95;
  background-color: $white;
}

.button--error::before {
  background-color: #408F95;
  border: solid 1px $white;
}

.button--error::after {
  border: solid 1px $white;
}

.button--error:hover {
  color: $white;
}

.button__arrow--error {
  border-bottom: 1px solid #408F95;
  border-right: 1px solid #408F95;
}

.button:hover .button__arrow--error {
  border-bottom: 1px solid $white;
  border-right: 1px solid $white;
}