@use "global" as *;


.campaign-sub__contents {
  margin-top: rem(40);

  @include mq(md) {
    display: flex;
    gap: rem(40);
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.campaign-sub__wrapper.inner {
  padding: 0 rem(48);
  max-width: rem(500);

  @include mq(md) {
    padding: 0 rem(25);
    max-width: rem(1130);
  }
}

.campaign-sub__feature {
  box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
  display: block;
  margin-top: rem(40);
  display: flex;
  flex-direction: column;

  @include mq(md) {
    width: calc(50% - rem(40) / 2);
    margin-top: 0;
    // margin-right: rem(40);
  }
}  

.campaign-sub__feature:first-child {
  margin-top: 0;
}

.campaign-sub__feature:nth-child(n + 3) {
  
  @include mq(md) {
    margin-top: rem(80);
  }
}

.campaign-sub__feature:nth-child(2n) {

  @include mq(md) {
    margin-right: 0;
  }
}

.campaign-sub__text {
  display: none;

  @include mq(md) {
    display: block;
    color: #408F95;
    text-align: center;
    font-size: rem(14);
    font-weight: normal;
  }
}

.campaign-sub__button {
  display: none;
  
  @include mq(md) {
    display: block;
    margin-top: rem(16);
  }
}


