@use "global" as *;


.cards {
  display: flex;
  flex-direction: column;
  row-gap: rem(40);

  @include mq(md) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: rem(80) rem(40);
    // justify-content: space-between;
  }
}

.cards.cards--side-bar {
  row-gap: rem(24);
}

.cards__card {
  // margin-top: rem(40);
  display: inline-block;

  @include mq(md) {
    width: calc(33.33333% - rem(80) / 3);
    // margin-top: 0;
    // margin-right: rem(40);
  }
} 

// .cards__card:first-child {
//   margin-top: 0;
// }

// .cards__card:nth-child(3n) {

//   @include mq(md) {
//     margin-right: 0;
//   }
// }

// .cards__card:nth-child(n + 4) {

//   @include mq(md) {
//     margin-top: rem(80);
//   }
// }