@use "global" as *;


.contact-sub__inner.inner {
  max-width: rem(500);

  @include mq(md) {
    max-width: rem(750);
  }
}

.contact-sub__recaptcha {
  text-align: center;
  margin-top: rem(40)
}


.contact-sub__recaptcha a:link {
  color: #0000EE;
  text-decoration: underline;
 }
 