@use "global" as *;


.contact__inner.inner {
  padding: 0;
  max-width: rem(500);
}

.contact__wrapper {
  position: relative;
}

.contact__eye-catch {
  position: absolute;
  top: 0;
  right: rem(15);
}

.contact__eye-catch img {
  width: rem(109);
  height: rem(50);
}

.contact__block.inner {
  padding-right: rem(40);
  padding-left: rem(40);
}


.contact__logo {
  display: flex;
  justify-content: center;
  margin-top: rem(26);
  padding-bottom: rem(6);
  border-bottom: solid 1px #408F95;
}

.contact__logo img {
  width: rem(174);
  height: rem(65);
  display: inline-block;
}

.contact__content {
  margin-top: rem(16);
}

.contact__body {
  text-align: center;
}

.contact__info {
  color: $green;
  margin-top: rem(4);
  line-height: 1.5;
}

.contact__info:first-child {
  margin-top: 0;
}

.contact__image {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: rem(16);
}

.contact__box {
  margin-top: rem(40);
}

.contact__box.inner {
  padding-right: rem(30);
  padding-left: rem(30);
}

.contact__text {
  color: #408F95;
  font-size: rem(14);
  text-align: center;
  margin-top: rem(8);
}

.contact__button {
  margin-top: rem(40);
  text-align: center;
}