@use "global" as *;

.contact__inner {

  position: relative;
}

.contact__inner::before {
  content: "";
  position: absolute;
  top: rem(0);
  right: rem(15);
  background-image: url("../images/common/contact_キンギョハナダイ.png");
  background-size: cover;
  width: rem(109);
  height: rem(50);
  aspect-ratio: 109 / 50;


  @include mq(md) {
    top: rem(-41);
    // right: calc(25% - 26.9vw);
    right: calc(33% - 33vw);
    width: rem(301);
    height: rem(138);
    aspect-ratio: 301 / 138;
  }

}


.contact__inner.inner {
  padding: 0;
  max-width: rem(500);

  @include mq(md) {
    max-width: rem(1130);
    padding-right: rem(25);
    padding-left: rem(25);
  }
}

.contact__wrapper {
  position: relative;

  @include mq(md) {
    display: flex;
    padding-top:rem(80);
    padding-left:rem(50);
    padding-right: rem(112);
    padding-bottom:rem(80);
    box-shadow: rem(6) rem(6) rem(10) rgba(0, 0, 0, .25);
  }
}

.contact__eye-catch {
  position: absolute;
  top: 0;
  right: rem(15);
  
  @include mq(md) {
    top: rem(-40);
    // right: rem(-130);
    right: calc(25% - 26vw);
  }
}

.contact__eye-catch img {
  width: rem(109);
  height: rem(50);
  aspect-ratio: 109 / 50;
  object-fit: cover;

  @include mq(md) {
    width: rem(301);
    height: rem(138);
    aspect-ratio: 301 / 138;
  }
}

.contact__block {
  padding-top: rem(26);

  @include mq(md) {
    width: 56.862%;
    padding-top: 0;
    padding-bottom: 0;
    
  }
}

.contact__block.inner {
  padding-right: rem(40);
  padding-left: rem(40);

  @include mq(md) {
    padding-left: 0;
    padding-right: rem(82);
  }
}


.contact__logo {
  display: flex;
  justify-content: center;
  padding-bottom: rem(6);
  border-bottom: solid 1px #408F95;
  
  @include mq(md) {
    
    padding-bottom: rem(8);
  }
}

.contact__logo img {
  width: rem(174);
  height: rem(65);
  display: inline-block;
  aspect-ratio: 174 / 65;
  object-fit: cover;
  
  @include mq(md) {
    width: rem(200);
    height: rem(75);
    aspect-ratio: 200 / 75;
  }
}

.contact__content {
  margin-top: rem(16);

  @include mq(md) {
    margin-top: rem(24);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.contact__body {
  text-align: center;

  @include mq(md) {
    text-align: center;
    // margin-right: rem(21);

    width: 36.7%;
  }
}

.contact__info {
  color: $green;
  margin-top: rem(4);
  line-height: 1.5;

  @include mq(md) {
    line-height: 1.5;
    text-align: left;
    font-size: rem(16);
  }
}

.contact__info span {

  @include mq(md) {
    display: inline-block;

  }
}

.contact__info:first-child {
  margin-top: 0;
}

.contact__image {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: rem(16);
  width: 100%;

  @include mq(md) {
    // width: 62%;
    margin-top: 0;

    display: block;
    width: 62.1%;
  }
}

.contact__image iframe {

  @include mq(md) {
    aspect-ratio: 273 / 148;
    width: rem(273);
    height: rem(148);
    object-fit: cover;

    display: block;
  }
}

.contact__box {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: 0;
    padding-top: rem(20);
    width: 43.246%;
    border-left: solid 1px #408F95;
  }
}

.contact__box.inner {
  padding-right: rem(30);
  padding-left: rem(30);

  @include mq(md) {
    // padding-left: rem(82);
    // padding-right: rem(112);

    padding-left: rem(82);
    padding-right: 0;
  }
}

.contact__header {
  position: relative;
}

.contact__text {
  color: #408F95;
  font-size: rem(14);
  text-align: center;
  line-height: 1.29;
  margin-top: rem(20);
}

.contact__button {
  margin-top: rem(39);
  text-align: center;
}