@use "global" as *;

.error {
  background-color: #408F95;
  padding-top: rem(80);
  padding-bottom: rem(40);
  
  @include mq(md) {
    padding-bottom: rem(148);
    padding-top: rem(90);
  }
}

.error__inner {
  position: relative;
}

.error__container {
  margin-top: rem(48);

  @include mq(md) {
    margin-top: rem(120);
  }
}

.error__back-image {
  position: absolute;
  top: rem(-6);
  left: rem(12);
  aspect-ratio: 345 / 345;
  width: rem(345);
  
  @include mq(md) {
    top: rem(-8);
    left: rem(24);
    aspect-ratio: 698 / 698;
    width: rem(698);
  }
}

.error__title {
  color: $white;
  font-family: 'Lato', sans-serif;
  font-weight: $normal;
  text-align: center;
  font-size: rem(80);
  letter-spacing: 0.5em;
  text-indent: 0.5em;
  line-height: 1.2;

  @include mq(md) {
    font-size: rem(160);
  }
}

.error__text {
  color: $white;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: rem(16);
  font-weight: $normal;

  @include mq(md) {
    margin-top: rem(24);
  }
}

.error__button {
  text-align: center;
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(80);
  }
}
