@use "global" as *;


.footer {
  background-color: #408F95;
  position: relative; 
  padding-top: rem(48);
  padding-bottom: rem(56);
  
  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.footer__inner.inner {
  max-width: rem(500);

  @include mq(md) {
    max-width: rem(1130);
  }
}

.footer__box {

  @include mq(md) {
    display: flex;
    align-items: flex-end;
  }
}

.footer__logo {

  @include mq(md) {
    margin-right: rem(40);
  }
}

.footer__logo:hover {

  @include mq(md) {
    opacity: 0.6;
  }
}

.footer__sns-links {
  display: flex;
  margin-top: rem(16);

  @include mq(md) {
    margin-top: 0;
  }
}


.footer__logo img {
  width: rem(120);
  height: rem(45);
  aspect-ratio: 120 / 45;
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 200/75;
    height: rem(75);
    width: rem(200);
  }
}

.footer__sns-link {
  margin-right: rem(16);  

  @include mq(md) {
    margin-bottom: rem(5);
  }
}

.footer__facebook:hover {
  opacity: 0.6;
}

.footer__facebook img {
  width: rem(24);
  height: rem(24);
  aspect-ratio: 1 / 1;
  object-fit: cover;

  @include mq(md) {
    width: rem(32);
    height: rem(32);
  }
}

.footer__insta:hover {
  opacity: 0.6;
}

.footer__insta img {
  width: rem(24);
  height: rem(24);
  aspect-ratio: 1 / 1;
  object-fit: cover;

  @include mq(md) {
    width: rem(32);
    height: rem(32);
  }
}

.footer__nav-items {
  // height: rem(465);
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(24);
    gap: rem(32);
    // height: rem(202);
  }
}

.footer__copyright {
  // margin-top: rem(21);
  margin-top: rem(34);
  text-align: center;
  
  
  @include mq(md) {
    margin-top: rem(76);
    font-size: rem(14);
  }
}

.footer__copyright small {
  color: $white;
  font-family: $english-font-family;
  font-size: rem(12);
  width: 100%;
  display: inline-block;

  @include mq(md) {
    font-size: rem(14);
  }
}


.footer__copyright.inner {
  padding-right: rem(14);
  padding-left: rem(14);
}