@use "global" as *;


.footer {
  background-color: #408F95;
}


.footer__nav {
  padding-top: rem(48);
}

.footer__sns {
  display: flex;
  margin-top: rem(16);
}


.footer__logo img {
  width: rem(120);
  height: rem(45);
}

.footer__facebook {
  margin-right: rem(16);  
}

.footer__facebook img {
  width: rem(24);
  height: rem(24);
}

.footer__insta img {
  width: rem(24);
  height: rem(24);
  
}

.footer__nav-items {
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: column;

  margin-top: rem(40);
  height: rem(452);
}

// .footer__nav-item {
//   color: $white;
//   width: 50%;
//   margin-top: rem(40);
//   display: flex;
//   flex-direction: column;
// }

// .footer__nav-item:first-child {
//   margin-top: 0;
// }

// .footer__nav-item:nth-child(5) {
//   margin-top: 0;
// }

// .footer__nav-unit {
//   display: flex;
// }

// .footer__nav-icon {
//   display: flex;
//   margin-right: rem(4);
// }

// .footer__nav-icon img {
//   width: rem(18);
//   height: rem(18);
//   display: inline-block;
// }

// .footer__nav-main {
//   font-weight: $bold;
//   line-height: 1.1;
//   display: inline-block;
// }

// .footer__nav-sub {
//   margin-top: rem(24);
//   margin-left: rem(18);
//   display: inline-block;
//   line-height: 1.1;
// }

.footer__copyright {
  color: $white;
  font-family: $english-font-family;
  font-size: rem(12);
  margin-top: rem(40);
  padding-bottom: rem(56);
  text-align: center;
}