@use "global" as *;

.header {
  width: 100%;
  height: rem(80);
  background: #0d2936ad;
  position: fixed;
  z-index: 100;

  @include mq(md) {
    height: rem(90);
  }
}

.header__inner.inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(md) {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding-right: rem(40);
    padding-left: rem(40);
  }
}

.header__logo {
  display: flex;
  align-items: center;
  height: inherit;
  z-index: 1000;

  @include mq(md) {
    width: 13.7%;
  }
}

.header__logo:hover {
  opacity: 0.6;
}

.header__image {
  display: flex;
  height: inherit;
  align-items: center;
}

.header__image img {
  width: rem(102);
  height: rem(38);
  aspect-ratio: 102 / 38;
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 133 / 50;
    width: rem(133);
    height: rem(50);
  }
}
 
.header__pc-nav {
  width: 62%;
}

.header__hamburger {

  @include mq(md) {
    display: none;
  }

}