@use "global" as *;

.information-sub__inner.inner {
  max-width: rem(500);

  @include mq(md) {
    max-width: rem(1130);
  }
}

.information-sub__categories {
  display: flex;
  gap: rem(20);
  
  @include mq(md) {
    gap: rem(90);
  }
}

.information-sub__category {
  width: 33%;
  text-align: center;
  padding: rem(10) 0;
  color: #408F95;
  font-size: rem(14);
  background-color: #DDF0F1;
  box-shadow: rem(2) rem(2) rem(4) 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;

  @include mq(md) {
    padding: rem(13) 0;
    font-size: rem(24);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(8);
  }
}

.information-sub__category.js-information-category.current {
  color: $white;
  background-color: #408F95;
  transition: 0s;
}

.information-sub__category.js-information-category.current .information-sub__category-icon.u-desktop {
  
  @include mq(md) {
    display: block;
  }
}

.information-sub__category.js-information-category.current .information-sub__category-icon-sub.u-desktop {
  display: none;
}


.information-sub__category-name {
  line-height: 1.43;
}

.information-sub__category-icon {
  width: rem(64);
  height: rem(64);
  aspect-ratio: 1 / 1;
}

.information-sub__category-icon.u-desktop {
  
  @include mq(md) {
    display: none;
  }
}


.information-sub__category-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.information-sub__category-icon-sub {
  width: rem(64);
  height: rem(64);
  aspect-ratio: 1 / 1;
}


.information-sub__category-icon-sub img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.information-sub__box {
  display: none;
  padding: rem(24);
  border: 1px solid #408F95;
  margin-top: rem(16);

  @include mq(md) {
    // display: flex;
    gap: rem(48);
    margin-top: rem(24);
  }
}

.information-sub__box.js-information-box.current {
  display: block;

  @include mq(md) {
    display: flex;
  }
}

.information-sub__unit {

  @include mq(md) {
    margin-top: rem(65);
    width: 50%;
  }
}


.information-sub__title {
  border-bottom: solid 1px #408F95;
  font-size: rem(24);
  line-height: 1.0;
  padding-bottom: rem(8);
  
  @include mq(md) {
  }
}

.information-sub__text {
  margin-top: rem(8);
}

.information-sub__image {
  margin-top: rem(8);

  @include mq(md) {
    margin-top: 0;
    width: 50%;
  }
}
