@use "global" as *;


.menu-item {

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(40);

  @include mq(md) {
    gap: rem(92);
  }
}
 
.menu-item--price {
  gap: unset;
  margin-top: 0;
  border: solid 1px #408F95;
  border-bottom: none;
  // padding-right: rem(16);
  
  @include mq(md) {
    gap: unset;
    padding: 0 rem(16);
  }
}

.menu-item--price:last-child {
  border-bottom: solid 1px #408F95;

}




// .menu-item--price:first-child .menu-item__value--price {
//   line-height: 1.65;
//   // padding-top: rem(17);
//   // padding-bottom: rem(16);
// }

.menu-item__name {
  color: $green;
  font-size: rem(14);
  line-height: 1.72;

  @include mq(md) {
    font-size: rem(16);
    line-height: 1.5;
  }
}

.menu-item__name--price {
  width: 69.3%;
  text-align: center;
  font-size: rem(16);
  line-height: 1.48;
  border-right: none;
  border-top: none;
  // border: solid 1px #408F95;
  // padding: rem(8) 0;

  @include mq(md) {
    text-align: left;
    // padding-left: rem(16);
  }
}
 
.menu-item__value {
  color: $green;
  font-size: rem(14);
  line-height: 1.72;

  @include mq(md) {
    font-size: rem(16);
    line-height: 1.5;
  }
}


.menu-item__value--price {
  width: 30.7%;
  text-align: right;
  font-size: rem(16);
  // line-height: 1.59;
  // line-height: 1.65;
  // line-height: 1.605;
  line-height: 1.5;
  padding-top: rem(18);
  // padding-bottom: rem(16);
  padding-bottom: rem(18);
  padding-right: rem(16);
  // padding-bottom: rem(18);
  border-left: solid 1px #408F95;


  @include mq(md) {
    padding-right: 0;
    padding-bottom: rem(16);
  }


  // border: solid 1px #408F95;
}