@use "global" as *;

.mv {
  height: 100vh;
  // border: solid 1px red;
}

.mv__wrapper {
  // display: flex;
  position: relative;
}

.mv__images {
  height: inherit;
}

.mv__image {
  height: inherit;
}

.mv__image img {
  border: solid 1px blue;
  aspect-ratio: 375 / 667;
  height: 100vh;
  width: 100%;
}

.mv__body {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
}

.mv__title {
  color: #111;
  text-align: center;
  font-size: rem(40);
  font-family: 'Lato', sans-serif;
  font-weight: $normal;
  line-height: 1.5;
  letter-spacing: 0.54em;
} 

.mv__title span {
  margin-right: -0.54em;

}

.mv__sub-title {
  color: #111;
  text-align: center;
  font-size: rem(20);
  font-family: $english-font-family;
}