@use "global" as *;

.mv {
  height: 100vh;
  // border: solid 1px red;
}

.mv__wrapper {
  // display: flex;
  position: relative;
  height: inherit;
}

.mv__images {
  height: inherit;
}

.mv__image {
  height: inherit;
}

.mv__image img {
  aspect-ratio: 375 / 667;
  height: 100vh;
  width: 100%;
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 1440 / 768;
  }
}

.mv__body {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;

  @include mq(md) {
    top: 55.5%;
  }
}

.mv__title {
  color: $white;
  text-align: center;
  font-size: rem(40);
  font-family: 'Lato', sans-serif;
  font-weight: $normal;
  line-height: 1.2;
  letter-spacing: 0.54em;

  @include mq(md) {
    color: $white;
    font-size: rem(80);
    line-height: 1.25;
  }
} 

.mv__title span {
  margin-right: -0.54em;

}

.mv__sub-title {
  color: $white;
  text-align: center;
  font-size: rem(20);
  font-family: $english-font-family;
  line-height: 1.65;
}