@use "global" as *;


.nav-items {
  display: flex;
  flex-direction: row;
  gap: rem(16);

  @include mq(md) {
    gap: rem(120);
  }
}

.nav-items--site-map {
  gap: rem(27);

  @include mq(md) {
    gap: rem(144);
  }
}

.nav-items--site-map .nav-items__box {
  width: calc(168 / 345 * 100%);

  @include mq(md) {
    width: calc(460 / 1080 * 100%);
    gap: rem(144);
  }
}
.nav-items--site-map .nav-items__box.nav-items__box--right {
  // width: 47%;
  width: calc(150 / 345 * 100%);

  
  @include mq(md) {
    // width: 50%;
    width: calc(476 / 1080 *100%);
  }
}


.nav-items__box {
  // width: 50%;
  width: calc(168 / 334 * 100%);
  
  @include mq(md) {
    display: flex;
    flex-direction: row;
    // width: 50%;
    // gap: rem(50);

    gap: rem(120);
    width: calc(436 / 1080 * 100%);
  }
}

.nav-items__box.nav-items__box--right {
  width: calc(150 / 334 * 100%);

  @include mq(md) {
    width: calc(452 / 1080 * 100%);
  }
}

.nav-items__box.nav-items__box--right-site-map {

  @include mq(md) {
    width: calc(476 / 1080 * 100%);
  }
}



.nav-items__box .nav-items__items:first-child {
  width: 100%;

  @include mq(md) {
    width: calc(166 / 436 * 100%);
  }
}

.nav-items__box .nav-items__items:nth-child(2) {
  width: 100%;
  
  @include mq(md) {
    width: calc(150 / 436 * 100%);
  }
}

.nav-items__box--right .nav-items__items:first-child {
  width: 100%;
  
  @include mq(md) {
    width: calc(150 / 452 * 100%);
  }
}

.nav-items__box--right .nav-items__items:nth-child(2) {
  width: 100%;
  
  @include mq(md) {
    width: calc(182 / 452 * 100%);
  }
}

.nav-items__items {
  display: flex;
  flex-direction: column;
  color: $white;
  width: 100%;
  margin-top: 0;

  @include mq(md) {
    width: 49%;
  }
}

.nav-items__items--site-map {
  color: $green;
}

.nav-items__box .nav-items__items--site-map:first-child {
  
  @include mq(md) {
    width: calc(166 / 460 * 100%);
    color: $green;
  }
}

.nav-items__box .nav-items__items--site-map:nth-child(2)  {

  @include mq(md) {
    width: calc(150 / 460 * 100%);
  }
}
.nav-items__box--right .nav-items__items--site-map:first-child  {

  @include mq(md) {
    width: calc(150 / 476 * 100%);
  }
}
.nav-items__box--right .nav-items__items--site-map:nth-child(2)  {

  @include mq(md) {
    width: calc(182 / 476 * 100%);
  }
}

.nav-items__unit {
  margin-top: rem(40);  
}

.nav-items__unit--sp {
  margin-top: rem(0);
}

.nav-items__unit--pc {
  @include mq(md) {
    margin-top: 0;
  }
}


.nav-items__main {
  position: relative;
  font-weight: $bold;
  line-height: 1.1;
  display: block;
  width: 100%;
  padding-left: rem(22);
}

.nav-items__main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: rem(18);
  height: rem(18);
  display: inline-block;
  aspect-ratio: 1 / 1;
  background-image: url('../images/common/starfish.png');
  background-size: cover;
} 

.nav-items__main:hover {
  opacity: 0.6;
}

.nav-items__main--site-map::before {
  // content: "";
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: rem(18);
  // height: rem(18);
  // display: inline-block;
  // aspect-ratio: 1 / 1;
  // background-size: cover;
  background-image: url('../images/common/starfish_black.png');
}


.nav-items__item {
  margin-top: rem(24);
  margin-left: rem(22);
}

.nav-items__sub {
  display: block;
  line-height: 1.125;
}

.nav-items__sub:hover {
  opacity: 0.6;
}


