@use "global" as *;


.nav-items {
  display: flex;
  flex-direction: row;
}


.nav-items__box {
  width: 54%;
  
  @include mq(md) {
    display: flex;
    flex-direction: row;
    width: 52%;
  }
}

.nav-items__box--right {
  width: 46%;
  
  @include mq(md) {
    width: 48%;
  }
}

.nav-items__item {
  display: flex;
  flex-direction: column;
  color: $white;
  width: 100%;
  margin-top: 0;
}


.nav-items__unit {
  display: flex;
  margin-top: rem(40);

  
}

.nav-items__unit--sp {
  margin-top: rem(0);

  @include mq(md) {
    // margin-top: rem(40);
  }
}

.nav-items__unit--pc {
  @include mq(md) {
    margin-top: 0;
  }
}

.nav-items__icon {
  display: flex;
  margin-right: rem(4);
}


.nav-items__icon img {
  width: rem(18);
  height: rem(18);
  display: inline-block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.nav-items__main {
  font-weight: $bold;
  line-height: 1.1;
  display: inline-block;
  width: 100%;
}

.nav-items__main:hover {
  opacity: 0.6;
}

li.nav-items__li {
  margin-top: rem(24);
  margin-left: rem(22);
}


.nav-items__sub {
  display: block;
  line-height: 1.125;
}

.nav-items__sub:hover {
  opacity: 0.6;
}



.nav-items__item.nav-items__item--left {
  margin-left: 0;
}