@use "global" as *;


.page-nav.inner {
  max-width: rem(500);
}


.page-nav--campaign {
  margin-top: rem(80);
}

.page-nav--blog {
  margin-top: rem(80);
}

.page-nav--voice {
  margin-top: rem(72);
}