@use "global" as *;


.privacy__inner.inner {
  max-width: rem(500);

  @include mq(md) {
    max-width: rem(850);
  }
} 

.privacy__title {
  color: $green;
  font-size: rem(32);
  font-weight: 500;
}

.privacy__contents {
  margin-top: rem(40);
}

.privacy__contents p {
  margin-top: rem(40);
  line-height: 2;
}

.privacy__contents p:first-child {
  margin-top: 0;
}

.privacy__contents ol {
  list-style: decimal;
}

.privacy__contents ol:first-of-type {
  margin-top: rem(40);
}

.privacy__contents ul {
  list-style: disc;
  margin-top: rem(40);
}


.privacy__contents li {
  line-height: 2;
}
