@use "global" as *;


.price {
  padding-top: rem(80);
  padding-bottom: rem(80);
  background: #DDF0F1;
}

.price__inner.inner {
  max-width: rem(500);
}


.price__wrapper {
  margin-top: rem(24);
}


.price__image {
    position: relative;
    width: 100%;
}

.price__color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #408F95;
}

.price__image img {
    display: block;
    height: 100%;
    width: 100%;
    aspect-ratio: 345 / 227;
    object-fit: cover;
}

.price__box {
  margin-top: rem(40);
}


.price__sub-title {
  font-size: rem(16);
  color: $green;
  border-bottom: solid 1px #408F95;
}

.price__button {
  margin-top: rem(40);
  text-align: center;
}