@use "global" as *;


.section-header {
  padding-bottom: rem(4);

  @include mq(md) {
    padding-bottom: 0;
  }
}

.section-header__title {
  font-size: rem(32);
  font-family: $english-font-family;
  font-weight: 400;
  color: $green;
  text-align: center;
  line-height: 1.25;

  @include mq(md) {
    font-size: rem(40);
    line-height: 1.0;
  }
}

.section-header__title:first-letter {
  color: #408F95;
}

.section-header__sub-title {
  font-size: rem(12);
  color: #408F95;
  text-align: center;
  margin-top: rem(4);

  @include mq(md) {
    margin-top: rem(8);
  }
}

.section-header__title--contact {
  font-size: rem(80);
  line-height: 1.0;
  
  @include mq(md) {
    font-size: rem(80);
  }
}

.section-header__title--blog {

  @include mq(md) {
    color: $white;
  }
}

.section-header__sub-title--blog {

  @include mq(md) {
    color: $white;
  }
}

.section-header__title--blog:first-letter {

  @include mq(md) {
    color: $white;
  }
}

.section-header--contact {
  padding-bottom: 0;
}

.section-header__sub-title--contact {

  position: absolute;
  top: rem(74);
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;

  @include mq(md) {
    top: rem(66);
  }

}
