@use "global" as *;

.side-bar__inner.inner {
  padding-right: rem(26);
  padding-left: rem(25);

  @include mq(md) {
    padding: 0;
  }
}

.side-bar__title {
  position: relative;
  padding-left: rem(74);
  font-size: rem(24);
  font-weight: $normal;
  border-left: solid 8px #408F95;

  @include mq(md) {
    line-height: 2.1;
  }
}

.side-bar__title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: rem(16);
  transform: translateY(-50%);
  width: rem(50);
  height: rem(50);
  aspect-ratio: 1 / 1;
  background-image: url('../images/common/side-bar_logo.png');
  background-size: cover;
}

.side-bar__cards {
  margin-top: rem(24);
}

.side-bar__voice {
  margin-top: rem(80);
}

.side-bar__campaign {
  margin-top: rem(84);
}

.side-bar__feature {
  margin-top: rem(24);
  display: block;
  box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);

  @include mq(md) {
    margin-top: rem(40);
  }
}

.side-bar__feature:first-of-type {

  @include mq(md) {
    margin-top: rem(24);
  }
}

// .side-bar__feature:hover {
//   opacity: 0.6;
// }

.side-bar__voice-button {
  margin-top: rem(40);
  text-align: center;
}

.side-bar__campaign-button {
  margin-top: rem(40);
  text-align: center;
}

.side-bar__archive {
  margin-top: rem(84);
}

.side-bar__menus {
  margin-top: rem(24);
}

.side-bar__menu {
  
  @include mq(md) {
    margin-top: rem(6);
  }
}

.side-bar__menu:first-of-type {
  
  @include mq(md) {
    margin-top: 0;
  }
}

.side-bar__menu-open {
  position: relative;
	font-size: rem(24);
  font-weight: $normal;
  color: #408F95;
  cursor: pointer;
  padding-left: rem(32);
  // margin-top: rem(6);
}

.side-bar__menu-open::after { /* 開いている時 */
	content: "";
  position: absolute;
  top: rem(12);
  left: rem(0);
  transform: rotate(360deg);
  transition: .3s;
  border-style: solid;
  border-width: rem(20) rem(10) 0 rem(10);
  border-color: #408F95 transparent transparent transparent;
  display: inline-block;
  width: 0;
  height: 0;
}

.side-bar__menu-open.active::after { // 閉じている時
  content: "";
  position: absolute;
  top: rem(10);
  left: rem(6);
  display: inline-block;
  transform: rotate(270deg);
  width: 0;
  height: 0;
}

.side-bar__nav {
  display: none; 
  margin-top: rem(4);
  margin-left: rem(32);
}

.side-bar__menu-text {
  position: relative;
  display: block;
  color: #408F95;
  font-size: rem(24);
  padding-left: rem(24);
  // padding-left: rem(32);
}

.side-bar__menu-text::after { /* 開いている時 */
	content: "";
  position: absolute;
  transition: .3s;
  border-style: solid;
  border-width: rem(20) rem(10) 0 rem(10);
  border-color: #408F95 transparent transparent transparent;
  display: inline-block;
  width: 0;
  height: 0;
  top: rem(10);
  left: 0;
  transform: rotate(270deg);
}

