@use "global" as *;



.single__container {

  display: flex;
  gap: rem(80);
}


.single__wrapper {
  width: 65.37037%;
}

.single__datetime {
  display: block;
  font-size: rem(14);
  font-family: $english-font-family;
  line-height: 1.3;
  color: $green;
}

.single__title {
  font-size: rem(32);
  font-weight: 500;
  line-height: 1.45;
  color: $green;
  margin-top: rem(8);
  border-bottom: solid 1px #408F95;
}

.single__thumbnail {
  // width: 100%;
  margin-top: rem(40);
}

.single__thumbnail img {
  aspect-ratio: 706 / 468;
  object-fit: cover;
  height: 100%;
}

.single__block p {
  margin-top: rem(40);
}

.single__block img {
  aspect-ratio: 706 / 468;
  object-fit: cover;
  margin-top: rem(40);
}

.single__block ul {
  margin-top: rem(40);
}

.single__block li {
  position: relative;
  padding-left: rem(27);
  margin-top: rem(4);
}

.single__block li:first-child {
  margin-top: 0;
}

.single__block li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: rem(18);
  height: rem(18);
  background-image: url('../images/common/starfish-green.png');
  background-size: cover;
}
