@use "global" as *;

.sp-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  // height: rem(667);
  height: 100%;
  width: 100%;
  background-color: #408F95;
  // padding-top: rem(104);
  padding-top: rem(80);
  z-index: 100;
  
}



.sp-nav__inner {

  margin-top: rem(24);
}

.sp-nav__items {
  // position: absolute;
  // top: 0;
  // left: 0;
  // height: rem(452);
  // height: rem(492);
  height: rem(500);

}