@use "global" as *;


.terms__inner.inner {
  max-width: rem(500);

  @include mq(md) {
    max-width: rem(850);
  }
} 

.terms__title {
  color: $green;
  font-size: rem(24);
  font-weight: 500;
  
  @include mq(md) {
    font-size: rem(32);
  }
}

.terms__contents {
  margin-top: rem(32);
  
  @include mq(md) {
    margin-top: rem(38);
  }
}

.terms__contents p {
  margin-top: rem(32);
  line-height: 2;

  // @include mq(md) {
  //   margin-top: rem(40);
  // }
}

.terms__contents p:first-child {
  margin-top: 0;
}

.terms__contents ol {
  list-style: decimal;
  padding-left: rem(25);
  margin-top: rem(32);
}


.terms__contents ul {
  list-style: disc;
  padding-left: rem(25);
}


.terms__contents li {
  line-height: 2;
}
