@use "global" as *;



.thanks__contents {
  margin-top: rem(40);
}


.thanks__title {
  text-align: center;
  color: $green;
  line-height: 1.1;
  font-size: rem(16);
  font-weight: $normal;
}

.thanks__text {
  text-align: center;
  color: $green;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.44;
}