@use "global" as *;

.voice {
  position: relative;
}

.voice::before {

  @include mq(md) {
    content: "";
    position: absolute;
    top: rem(-117);
    left: rem(101);
    height: rem(138);
    width: rem(301);
    background-image: url("../images/common/voice_キンギョハナダイ.png");
    background-size: cover;
    aspect-ratio: 301 / 138;
  }
}

.voice__inner.inner {
  max-width: rem(500);

  @include mq(md) {
    max-width: rem(1130);
  }
}

.voice__inner {
  position: relative;
}

.voice__inner::before {

  @include mq(md) {
    content: "";
    position: absolute;
    bottom: rem(-70);
    right: rem(25);
    height: rem(161);
    width: rem(71);
    background-image: url("../images/common/voice_イバラタツ.png");
    background-size: cover;
    aspect-ratio: 71 / 161;
  }
}

.voice__wrapper {
  margin-top: rem(40);

  @include mq(md) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: rem(30);
  }
}

.voice__item {
  margin-top: rem(40);
  display: block;

  @include mq(md) {
    width: 48.1%;
    margin-top: 0;
  }
}

.voice__item:first-child {
  margin-top: 0;
}


.voice__item:nth-child(n + 3) {

  @include mq(md) {
    margin-top: rem(30);
  }
}

.voice__button {
  margin-top: rem(39);
  text-align: center;

  @include mq(md) {
    margin-top: rem(79);
  }
}